/*
#FFE86F
#12161B
*/
.password-container{
    margin-top: 20px;
    background-color: #12161B;
    border-radius: 5px;
    color: #FFE86F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

.password-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.password-icons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.icon-pass {
    /* Opcional: Estilo adicional para el contenedor de la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E252E;
    border-radius: 3px;
    padding: 1px;
}

.icon-logo {
    /* Estilo adicional para las imágenes */
    max-width: 100%; /* Ajustar imagen al contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    filter:invert(4%) sepia(4%) saturate(4860%) hue-rotate(173deg) brightness(93%) contrast(91%);
}
