h1{
    text-align: center;
}

.register-button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}
.register-button-box .secondary{
    width: 50%;
    font-size: 0.8em;
    margin: 0;
}
.container-register{
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    justify-content: center;
}