.notes-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
    max-width: 280px;
    color: #FFE86F
}
#myTextArea{
    background-color: #12161B;
    border: 1px solid #FFE86F;
    border-radius: 5px;
    padding: 2px 5px;
    color: #FFE86F;
}